@media only screen and (min-width: 1140px) {

    header{
        justify-content: center;
    }

    nav div{
        justify-content: space-between;
    }

    .hero h1{
        margin-top: 180px;
    }

    main{
        width: 1140px;
        margin: 0 auto;
    }

    /****CONTENT****/

    .sidePad{
        display: none;
    }

    .sideMob{
        display: none;
    }

    .sideDesktop{
        display:flex;
    }

    .introductionText{
        padding: 5rem 2rem 5rem 5rem;
    }

    .courseGrid{
        height: 680px;
        grid-template-rows: 300px 380px;
        grid-template-columns: 380px;
    }

    .contactRow1{
        width: 315px;
    }

    .contactRow2{
        width: 315px;
    }

    .map{
        width: 315px;
    }

    footer{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
    }
}
