/***XS SCREEN***/

@media only screen and (max-width: 580px) {

    p{
        font-size: 13px;
    }

    button{
        width: 120px;
        font-size: 1rem;
    }

    h2{
        font-size: 28px;
    }

    h4{
        font-size: 35px;
    }

    /**** HEADER ****/

    header{
        padding: 0 1rem;
        height: 70px;
    }

    header img{
        max-width: 75%;
    }

    header i{
        font-size: 2rem;
    }

    /****HERO****/


    .hero h1{
        font-size: 25px;
        margin-top: 30px;
        text-align: center;
        padding: 2rem;
    }

    .hero h1 span{
        font-size: 33px;
    }

    /****CONTENT****/

    .introductionHeader img{
        width: 80%;
        margin-left: -2rem;
    }

    .introductionText p{
        margin-top: 1.5rem;
    }

    .courseInfo{
        padding: 2rem 1rem;
    }

    .innerCourseInfo h3{
        padding: 0 0 2rem 0;
        text-align: center;
    }

    .bookIcon img{
        width: 100px;
    }

    .bookIcon h3{
        font-size: 1.3rem;
    }
    
    .course3{
        padding: 1rem;
    }
    .course3 p{
        font-size: 14px;
    }

    /**** CONTACT ****/

    .contactWrapper{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contactRow1{
        text-align: center;
        margin-bottom: 3rem;
    }

    .map{
        width: 95%;
    }

    /**** FOOTER ****/
    .iconWrapper{
        width: 280px;
    }
}